.classButton {
    margin: 10px 2px;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    background-color: #1A76E3;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.classButton:hover {
    background-color: #14408B;
}